<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="body-main">
<header th:replace="fragments/commons::nav"></header>
<main role="main">
    <div class="jumbotron">
        <h1 class="text-center p-2 text-white font-weight-bold">Battle</h1>
        <h2 th:object="${currentUser}" th:text="|Welcome, *{username}.|" class="text-center p-2 text-white"></h2>
        <form th:action="@{/home}" th:method="POST" th:object="${homeBindingModel}" class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row bg-blur mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Attacker</strong>
                        <h3 class="mb-0 text-white">
                            Select the attacker
                        </h3>
                        <div class="mb-1 text-white">Select one of the ships that are owned by the current user</div>
                        <select th:field="*{attackerShipId}" class="form-select mt-5" aria-label="Default select example">
                            <option value="" selected>Select one of the ships that are owned by the current user
                            </option>
                            <option th:each="s : ${attackerShips}" th:value="${s.id}" th:text="${s.name}"></option>
                        </select>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                         style="width: 200px; height: 250px;"
                         src="/images/attacker.jpg"
                         data-holder-rendered="true">
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-blur card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-danger">Defender</strong>
                        <h3 class="mb-0 text-white">
                            Select the defender
                        </h3>
                        <div class="mb-1 text-white">Select one of the ships that are owned by other users
                        </div>
                        <select th:field="*{defenderShipId}" class="form-select mt-5" aria-label="Default select example">
                            <option value="" selected>Select one of the ships that are owned by other users
                            </option>
                            <option th:each="s : ${defenderShips}" th:value="${s.id}" th:text="${s.name}"></option>
                        </select>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"

                         src="/images/defender.jpg"
                         data-holder-rendered="true" style="width: 200px; height: 250px;">
                </div>
            </div>
            <button type="submit" class="col-md-6 mx-auto btn btn-danger btn-lg btn-block mt-5 mb-5">FIRE !!!</button>
        </form>
        <div>
            <div class="col-md-6 mx-auto bg-blur rounded text-white">
                <div class="card-body d-flex flex-column">
                    <h4 class="d-inline-block mb-2 text-primary align-self-center">The All Ships And Their Status</h4>
                    <div class="text-center">
                        <h5>Name -- Health -- Power </h5>
                        <ul>
                            <li th:each="s : ${allShips}" th:object="${s}"
                                th:text="|*{name} -- *{health} -- *{power}|" class="font-weight-bold">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer" class="container text-white"></footer>
</body>
</html>