<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="body-main">
<header th:replace="fragments/commons::nav"></header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-6 text-center ">
                <strong class="bg-blur rounded border-white pl-3 font-weight-bold">Add New Ship</strong></h1>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-50">
            <form th:action="@{/ships/add}" th:method="POST" th:object="${addShipBindingModel}"
                  class=" text-center text-light">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input th:field="*{name}" th:errorclass="border-danger" type="text" class="form-control"
                               id="name"
                               aria-describedby="nameHelpInline" placeholder="Name">
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               id="nameHelpInline"
                               class="text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="power" class="col-sm-2 col-form-label">Power</label>
                    <div class="col-sm-10">
                        <input th:field="*{power}" th:errorclass="border-danger" type="number" step="1"
                               class="form-control"
                               id="power"
                               aria-describedby="powerHelpInline">
                        <small th:if="${#fields.hasErrors('power')}" th:errors="*{power}"
                               id="powerHelpInline"
                               class="text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="health" class="col-sm-2 col-form-label">Health</label>
                    <div class="col-sm-10">
                        <input th:field="*{health}" th:errorclass="border-danger" type="number" step="1"
                               class="form-control" id="health"
                               aria-describedby="healthHelpInline">
                        <small th:if="${#fields.hasErrors('health')}" th:errors="*{health}"
                               id="healthHelpInline"
                               class="text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="created" class="col-sm-2 col-form-label">Created date</label>
                    <div class="col-sm-10">
                        <input th:field="*{created}" th:errorclass="border-danger" type="datetime-local"
                               class="form-control"
                               id="created"
                               aria-describedby="createdHelpInline">
                        <small th:if="${#fields.hasErrors('created')}" th:errors="*{created}"
                               id="createdTimeHelpInline"
                               class="text-danger">
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select th:field="*{category}" th:errorclass="border-danger" id="category" name="category"
                                class="custom-select"
                                aria-describedby="categoryHelpInline">
                            <option value="" selected>Category</option>
                            <option th:each="c : ${T(com.example.octoberexambattleships.domain.entity.Categories).values()}"
                                    th:value="${c}" th:text="${c}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                               id="categoryHelpInline"
                               class="text-danger">
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger w-50">Add the new Ship</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer" class="container text-white"></footer>
</body>
</html>